header.Header
    width: 100%
    height: 78px
    display: flex
    align-items: center
    position: fixed
    top: 0
    z-index: 10
    transition: 0.3s
    max-width: none
    transform: translateY(0px)

    &.Hide
        transform: translateY(-78px)

    &.HasScrolled
        backdrop-filter: blur(10px) brightness(60%)

    > a
        padding: 0 20px 0 0

    img
        display: block
        width: auto
        height: 29px

    .Buttons
        display: flex
        flex-direction: row

.MobileMenu
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.7)
    z-index: 9
    backdrop-filter: blur(3px)
    padding: 10px
    padding-top: 85px
    pointer-events: none
    opacity: 0
    transition: 0.3s

    &.Open
        opacity: 1
        pointer-events: all

        ul[class^="Menu_"] > li
            opacity: 1
            transform: translateY(0px)

        .Bottom
            opacity: 1
            transform: translateY(0px)

    ul[class^="Menu_"]
        display: block
        padding: 0px
        font-size: 25px

        &>li
            opacity: 0
            transform: translateY(15px)
            transition: 0.3s

        a
            padding-left: 0px

    .Bottom
        position: absolute
        bottom: 10px
        left: 0
        width: 100%
        padding: 10px
        display: flex
        flex-direction: column
        align-items: flex-start
        transition: 0.3s
        opacity: 0
        transform: translateY(20px)

@media(max-width: 500px)
    header.Header
        justify-content: space-between
        height: auto
        padding-top: 15px
        padding-bottom: 15px

        &>ul
            display: none
