.CopyCont

    h1
        line-height: 1.2
        margin-bottom: -20px
        font-weight: 700
        font-size: 82px

    h3
        font-size: 16px
        line-height: 1.3
        font-weight: 400
        font-family: var(--font-atyp-text)
        background: linear-gradient(90deg, #A0C5B5 0%, #AED0D8 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

    p
        font-size: 22px
        line-height: 1.3
        font-weight: 400
        font-family: var(--font-atyp-text)
        background: linear-gradient(90deg, #A0C5B5 0%, #AED0D8 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

        strong
            font-weight: bold

    ul
        display: flex
        gap: 10px
