@font-face {
  font-family: "Atyp Display";
  src: url("/Fonts/AtypDisplay-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atyp Text";
  src: url("/Fonts/AtypText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}