$paddingTop: 78px

.Hero
    &.Type-rewards
        .CopyCont
            ul

                li
                    margin-bottom: 10px

                    &:nth-child(3)
                        display: none

                    a[class^="Button"]
                        display: inline-flex
                        white-space: nowrap

.Cont
    display: grid
    grid-template-columns: 1fr 1fr

.CopyCont
    display: flex
    flex-direction: column
    justify-content: center
    gap: 40px
    z-index: 1
    height: 100vh

    h1
        line-height: 1.2
        margin-bottom: -20px

    p
        font-size: 39px
        font-family: var(--font-atyp-display)
        line-height: 1.3
        color: var(--color-grey-darker)

        strong
            font-weight: bold

    ul
        display: flex
        gap: 10px

.ImageCont
    position: absolute
    top: 50%
    right: -8%
    width: 65%
    transform: translateY(-50%)

    > div
        max-width: none
        height: auto

        img
            display: block
            height: auto

    img
        transform-origin: bottom right

.MobileScroll
    display: none

@media(min-width: 501px)
    .Hero.Type-rewards
        .ImageCont
            top: 0
            left: 0
            transform: none
            width: 100%
            height: 100%

            &>div
                width: auto
                position: absolute
                left: 50%
                transform: translate(-50%)
                height: 100%
                aspect-ratio: 1

                // remove sharp edges from image
                &:before, &:after
                    content: ''
                    position: absolute
                    top: 0
                    height: 100%
                    width: 80px
                    z-index: 2

                &:before
                    background: linear-gradient(to right, var(--color-black), rgba(0,0,0,0))
                    left: -2px

                &:after
                    background: linear-gradient(to left, var(--color-black), rgba(0,0,0,0))
                    right: -2px


            img
                width: auto
                max-width: none
                height: 100%

        .CopyCont
            justify-content: flex-start
            max-width: 330px
            padding-top: 120px
            color: var(--color-mid-grey)

            ul
                display: block

            p
                font-size: 20px
                font-weight: 400
                font-family: var(--font-atyp-text)

@media(max-width: 500px)

    .Hero
        padding-top: 0
        overflow: hidden

        &.Type-rewards .CopyCont ul li:nth-child(2)
            display: none

        &.Type-rewards .CopyCont ul li:nth-child(3)
            display: block

    .Cont
        display: flex
        flex-direction: column-reverse
        justify-content: flex-end
        text-align: center
        height: 100svh
        padding-top: 70px

    .CopyCont
        gap: 10px
        justify-content: flex-end
        max-width: none
        padding-top: 0px
        margin-bottom: 150px

        h1
            font-size: 40px
            line-height: 1.1
            margin-bottom: 0px

        p
            font-size: 16px

            br
                display: none

        ul
            justify-content: center
            margin-top: 30px

    .ImageCont
        height: auto
        width: 100%
        right: 0%
        transform: none
        top: 90px
        transition: 0.6s
        transform: scale(1)
        filter: blur(0px)

        &.Darkened
            opacity: 0.3
            transform: scale(0.98)
            filter: blur(5px)

        img
            translate: 0 0
            transform-origin: center center
            object-fit: contain

    .MobileScroll
        position: absolute
        bottom: 20px
        width: 100%
        left: 0
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 5px
        opacity: 0.7

        span
            font-size: 14px
            font-weight: bold
            text-transform: uppercase

        div
            height: 70px
            width: 1px
            background: white
            opacity: 0.7
