.Footer
    width: 100%
    margin: 50px 0 20px
    color: white
    font-size: 14px

.Logo
    img
        display: block
        width: auto
        height: 40px
        object-fit: contain

        &:last-of-type
            display: none

@media(max-width: 1024px)
    .Logo
        img
            display: none

            &:last-of-type
                display: block
