.CopyAndImage
    margin: 100px 0

.Cont
    display: flex
    align-items: center

    &.imageLeft
        flex-direction: row-reverse

        .Image
            margin: 0 5% 0 0

.Content
    h2
        margin: 20px 0

    h4
        color: var(--color-mid-grey)
        margin: 20px 0px 40px

        p
            margin: 20px 0px

.Image
    width: 55%
    flex-shrink: 0
    margin: 0 0 0 5%

    img
        display: block
        width: 100%
        height: auto





@media(max-width: 1024px)
    .CopyAndImage
        overflow: hidden

        &.ExpandImageOnMobile 
            margin-top: 60px
            
            .Image > div
                margin-left: -45px
                width: calc(100% + 90px)
                margin-bottom: -30px

        h2
            font-size: 35px

    .Cont
        flex-direction: column

        &.imageLeft
            flex-direction: column-reverse

            .Image
                margin: 0 0 20px

    .Image
        width: 100%
        margin: 20px 0 0
