.Outer
    padding-top: 130px

    h5
        color: var(--color-primary)
        margin-bottom: 50px

.Grid
    margin-top: 75px
    margin-bottom: 100px

    &>ul
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 40px