.Outer
    padding-top: 130px

    h5
        color: var(--color-primary)
        margin-bottom: 50px

.Grid
    margin-top: 75px
    margin-bottom: 100px

.List
    &.Mounted li
        opacity: 1
        transform: translateY(0px)

    li
        opacity: 0
        transition: 0.6s
        transform: translateY(10px)
