.Outer
  &>div

    ul[class^="Socials_"]

      li
        margin-right: 10px

        a
          border: none
          background: none
          height: auto
          width: auto

          svg
            height: 40px
            width: auto

          &:hover svg path
            fill: var(--primary-DEFAULT)

            &[class="social-discord"]
              path
                &:nth-child(2), &:nth-child(3)
                  fill: black

@media(max-width: 1024px)

  .Outer
    &>div
      ul[class^="Socials_"]
              li
                    a
                        svg
                            height: 36px
