.Outer
    &>div
        border-radius: 25px
        border: 1px solid rgba(255, 255, 255, 0.2)
        display: grid
        grid-template-columns: auto 1fr
        overflow: hidden

.Content
    padding: 20px
    max-width: 350px

.Image
    background-size: cover
    background-position: center