.Outer
    grid-template-columns: auto 1fr

    legend
        &>div
            position: sticky
            top: 85px

        
            font-weight: 700
            margin-bottom: 15px
            display: block

        button
            padding-top: 3px
            padding-bottom: 3px

    strong
        text-transform: uppercase
        font-family: var(--font-atyp-display)
        font-weight: 700

    .Categories > li
        scroll-margin-top: 90px

    .FaqsGroup
        margin-bottom: 30px

        & > li
            &.Open > button
                color: var(--primary-DEFAULT)

                & > em:after
                    transform: translate(-50%, -50%) rotate(180deg)
                    background: var(--primary-DEFAULT)

            &:not(:last-child):after
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                max-width: 600px
                background: linear-gradient(to right, #515151, rgba(255,255,255,0))
                height: 1px

            &>button
                padding: 15px 0px
                transition: 0.15s
                display: grid
                grid-template-columns: auto 1fr
                gap: 10px

                em
                    width: 10px
                    height: 10px
                    display: inline-block
                    vertical-align: middle
                    top: 7px

                    &:before, &:after
                        content: ''
                        height: 1px
                        width: 100%
                        background: white
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        transition: 0.15s

                    &:after
                        transform: translate(-50%, -50%) rotate(90deg)

            .Answer
                padding-bottom: 20px
                font-size: 16px
                padding-left: 20px

                p
                    &:not(:first-child)
                        margin-top: 15px

                    &:not(:last-child)
                        margin-bottom: 15px
                a
                    color: var(--primary-DEFAULT)
