.Outer
    margin-top: 100px
    display: grid
    grid-template-columns: 1fr 320px
    gap: 40px
    margin-bottom: 200px

    main
        &>*:first-child
            margin-top: 0px

        h2
            margin-top: 40px
            margin-bottom: 15px
            scroll-margin-top: 100px

        img
            display: block
            width: 100%
            height: auto
            border-radius: 10px
            margin: 25px 0px

    aside > div
        position: sticky
        top: 80px

        ul li
            margin: 10px 0px

            button
                display: block
                width: 100%
                opacity: 0.7
                font-size: 16px
                transition: 0.15s

                &:hover
                    opacity: 1

@media(max-width: 500px)
    .Outer
        display: block
        margin-top: 50px
        margin-bottom: 50px

        aside
            display: none