:root
    --color-black: #0A0A0A
    --color-primary: #00F782

    --color-mid-grey: #dbdbdb

    --margin: 180px
    --gap: 15px

    --spacer: 230px

body
    font-family: var(--font-atyp-text)
    font-size: 18px
    font-weight: 400
    background: var(--color-black)
    color: white

h1, .h1, h2, .h2, h3, .h3, h4, .h4
    font-family: var(--font-atyp-display)
    font-weight: 400
    line-height: 1.3

    &.HasGradient
        background-color: white
        background-image: linear-gradient(90deg, #f3f5f4, #bdc7c2)
        background-size: 100%
        -webkit-background-clip: text
        -moz-background-clip: text
        -webkit-text-fill-color: transparent
        -moz-text-fill-color: transparent

        &.Vertical
            background-image: linear-gradient(0deg, #f3f5f4, #bdc7c2)

h1, .h1
    font-size: 60px

    &.Huge
        font-size: 80px

    &.Massive
        font-size: 120px

h2, .h2
    font-size: 40px

h3, .h3
    font-size: 32px

h4, .h4
    font-size: 26px

h5, .h5
    font-family: var(--font-monument-extended)
    font-size: 16px
    text-transform: uppercase

em
    font-style: italic

strong, b
    font-weight: 700

.Copy
    &.Large
        font-size: 24px
    p
        margin: 20px 0px

.smallTitle
    font-family: var(--font-atyp-display)
    font-size: 14px
    text-transform: uppercase

.Container
    padding-left: 40px
    padding-right: 40px
    margin: auto
    max-width: 1580px

    &.Deep
        max-width: 1210px

video
    -webkit-mask-image: -webkit-radial-gradient(white, black)
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden

.AnimatedElement
    opacity: 0
    transition: 0.5s
    transform: translateY(20px)

    &.Visible
        opacity: 1
        transform: translateY(0px)

.AnimatedBigImage
    opacity: 0
    transition: 1.3s
    transform: scale(1.1)

    &.Visible
        opacity: 1
        transform: scale(1)

@media(max-width: 768px)

    :root
        --spacer: 100px
        --margin: 50px

    .Container
        padding-left: 10px
        padding-right: 10px

    h1, .h1
        font-size: 36px

    h2, .h2
        font-size: 26px
