@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-DEFAULT: #00f782;
    --primary-dark: #00b35f;
    --gray-lightest: #adadad;
    --gray-lighter: #7a7a7a;
    --gray-light: #55595c;
    --gray-DEFAULT: #3a3a3a;
    --gray-dark: #333132;

    --black: #0a0a0a;
    --text: #dbdbdb;
    --text-gradient: linear-gradient(128.42deg, #ffffff -38.86%, #97a99e 133.98%);
    --text-gradient-darker: linear-gradient(
      90.71deg,
      rgba(160, 197, 181, 0.8) -0.79%,
      rgba(174, 208, 216, 0.8) 98.84%
    );

    --text-caption: linear-gradient(113.07deg, #ace2d5 -6.36%, #405e56 210.93%);

    --background: var(--black);
    --foreground: var(--text);

    --spacer: 230px;
    --margin: 180px;
    --gap: 15px;
  }

  @media (max-width: 768px) {
    :root {
      --spacer: 100px;
      --margin: 50px;
    }
  }
}

.text-gradient {
  background-image: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; /* Ensures the gradient is only as wide as the text */
}

.text-gradient-darker {
  background-image: var(--text-gradient-darker);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; /* Ensures the gradient is only as wide as the text */
}

.text-caption {
  background-image: var(--text-caption);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; /* Ensures the gradient is only as wide as the text */
}

@layer base {
  body {
    /* TODO this make fonts slightly thinner and lighter in Firefox compared to figma */
    /* @apply antialiased; */
    /* TODO Do we need the height, outline and width on html as well? */
    @apply h-full w-screen overflow-x-hidden outline-none;
    @apply bg-background text-lg font-normal leading-6 text-foreground;

    /* Fix for Safari */
    /* https://stackoverflow.com/a/37365794 */
    text-rendering: optimizeLegibility;
  }
}

a,
input,
button {
  @apply focus:outline-primary;
}

::-moz-selection {
  /* Code for Firefox */
  @apply bg-primary text-black;
}

::selection {
  @apply bg-primary text-black;
}

.rich-content a span {
  text-decoration-line: none;
}

.rich-content a span:hover {
  text-decoration-line: underline;
}

.glow {
  @apply drop-shadow-lg filter;
  filter: drop-shadow(0 0 8px #76fcbdac);
}

.glow-large {
  @apply drop-shadow-lg filter;
  filter: drop-shadow(0 0 16px #76fcbdac);
}

.glow-red {
  @apply drop-shadow-lg filter;
  filter: drop-shadow(0 0 8px #ff0000);
}

.glow-yellow {
  @apply drop-shadow-lg filter;
  filter: drop-shadow(0 0 8px #ffea00);
}

.post-content .AnimatedElement a {
  @apply font-extralight text-primary;
}
